<div id="custom-modal">
  <div id="overlay">
      <!-- <div style = "text-align:center;font-size:1.5em">Verification Helper</div> -->
      <div>
        <img id = "verificationPicture" src = '/images/verification.gif'></img>
        <i class="fa fa-info-circle" aria-hidden="true"></i> Instruction: To verify your summoner account, please go to your runes page and set the name of 1st runes page to solome (all lowercase).
        </p><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Then click [verify] button to start a game.
      </div>
      <!-- <a href ng-click="close()">Close</a> -->
      <div id = "verficationButtons">
        <button class="btn-large btn-large-primary" ng-click="close()" data-dismiss="modal">Close</button>
        <button class="btn-large btn-large-primary" ng-click="neverShow()" data-dismiss="modal">Don't show again</button>
      </div>
  </div>
  <div id="fade"></div>
</div>
